@using GestaoDeEquipamentos.WebApp.Models

@model VisualizarEquipamentosViewModel;

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<title>Visualização de Fabricantes - Gestão de Equipamentos</title>
</head>
<body>
<h1>Gestão de Equipamentos</h1>

<hr />

<a href="/">Voltar</a> /
<a href="/equipamentos/cadastrar">Cadastrar Novo Equipamento</a> /

<hr />

<h3>Visualização de Equipamentos</h3>

<ul>
	@if (Model.Registros.Count == 0)
	{
		<li>Nenhum equipamento cadastrado.</li>
	}

	@foreach (DataEquipamentoViewModel f in Model.Registros)
	{
		<li>@f / <a href="/equipamentos/editar/@f.Id">Editar</a> /
			<a href="/equipamentos/excluir/@f.Id">Excluir</a> </li>
	}
</ul>
</body>
</html>