@page
@model IndexModel
@{
    ViewData["Title"] = "Gestão de Equipamentos";
}

<a href="/fabricantes/visualizar">
    <div class="card">
        <h3 class="flex-center">Fabricantes</h3>

        <p class="flex-center">Gerencie os Fabricantes de Equipamentos</p>
    </div>
</a>
