@using GestaoDeEquipamentos.WebApp.Models;

@model ExcluirFabricanteViewModel;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Exclusão de Fabricante - Gestão de Equipamentos</title>
</head>
<body>
    <h1>Gestão de Equipamentos</h1>

    <h3>Exclusão de Fabricante</h3>

    <p>Você realmente deseja excluir o registro '@Model.Nome'?</p>

    <form action="/fabricantes/excluir/@Model.Id" method="post">
        <button type="submit">Confirmar</button>
        <a type="button" href="/fabricantes/visualizar">Voltar</a>
    </form>

</body>
</html>