@using GestaoDeEquipamentos.WebApp.Models

@model CadastrarChamadoViewModel;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Cadastro de Chamado - Gestão de Equipamentos</title>
</head>
<body>
    <h1>Gestão de Equipamentos</h1>

    <hr />

    <a href="/">Página Inicial</a> /
    <a href="/chamados/visualizar">Visualizar Chamados</a>

    <hr />

    <h3>Cadastro de Chamado</h3>

    <form action="/chamados/cadastrar" method="post">
        <label for="titulo">Título do Chamado:</label>
        <br />
        <input type="text" id="titulo" name="titulo" />

        <br />

        <label for="descricao">Descrição do Chamado:</label>
        <br />
        <input type="text" id="descricao" name="descricao" />

        <br />

        <label for="equipamentoID">Equipamento do Chamado:</label>
        <br />
        <select id="equipamentoID" name="equipamentoID">
            @foreach (var e in Model.EquipamentosDisponiveis)
            {
                <option value="@e.Id">@e.Nome</option>
            }
        </select>

        <hr />

        <button type="submit">Gravar</button>
    </form>
</body>
</html>