<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoDeEquipamentos.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoDeEquipamentos.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="nav">
        <div class="nav-bar">
            <h3 class="nav-title flex-center">Controle de Medicamentos</h3>

            <div class="checkbox">
                <ul class="nav-list-links flex-center">
                    <li><a class="nav-link" href="/">Página Inicial</a></li>
                    <li><a class="nav-link" href="/fabricantes/visualizar">Fabricantes</a></li>
                    <li><a class="nav-link" href="/equipamentos/visualizar">Equipamentos</a></li>
                    <li><a class="nav-link" href="/chamados/visualizar">Chamados</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <header class="main-title">
            <h2>@ViewBag.Titulo</h2>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GestaoDeEquipamentos.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>