<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestaoDeEquipamentos.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoDeEquipamentos.WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar" id="sidebar">
                <div>
                    <h3 class="nav-title">Gestão de Equipamentos</h3>
                    <ul class="nav nav-underline">
                        <li class="nav-item"><a class="nav-link" href="/">Página Inicial</a></li>
                        <li class="nav-item"><a class="nav-link" href="/fabricantes/visualizar">Fabricantes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/equipamentos/visualizar">Equipamentos</a></li>
                        <li class="nav-item"><a class="nav-link" href="/chamados/visualizar">Chamados</a></li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ms-sm-auto col-lg-10 main-content">
                <header class="main-title">
                    <h2>@ViewBag.Titulo</h2>
                </header>
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - GestaoDeEquipamentos.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>