<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>Gestão de Equipamentos</title>
    <link href="/css/paginainicial.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h3>Página Inicial</h3>
    </header>

    <main>
        <div class="card">
            <li><a href="/chamados/visualizar">Menu Chamados</a></li>
        </div>

        <div class="card">
            <li><a href="/equipamentos/visualizar">Menu Equipamentos</a></li>
        </div>

        <div class="card">
            <li><a href="/fabricantes/visualizar">Menu Fabricantes</a></li>
        </div>
    </main>
    </body>
</html>